{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
        <p align="center" ><img src="/static/gdis.png"></p>
        <p align="center"><label>&nbsp;</label></p>

        <table align="center"><tr><td>
        <form action="/input" method="post">
            <select class="select" name="input" onChange="this.form.submit();">
                <option value="" disabled selected >{{ input }}</option>
                <option value="coax1">S/PDIF</option>
                <option value="streamer">Streamer</option>
            </select>
        </form>
        </td><td>
        <form action="/test" method="post" >
           <select class="select" name="test" onChange="this.form.submit();">
                <option value="" disabled selected >Test</option>
                <option value="net">Network Test</option>
                <option value="sound">Sound Check</option>
            </select>
        </form>
        </td></tr></table>

            <p align="center"><label>&nbsp;</label></p>
         <form method="POST" action="volume2">
            <input class="number" style="background-color:#000000;color:#ffffcc;width:100px" id="c" name="c" type="number" value='{{ vol }}' min="0" max="99" placeholder='{{ vol }}' onChange="this.form.submit();">
         </form>
         <p align="center"><label>&nbsp;</label></p>
         <form method="POST" action="volume">
            <p align="center"><input style="width:250px" value='{{ vol }}' type="range" id="a" name="a" min="0" max="100" oninput="c.value=a.value" onChange="this.form.submit();">
         </form>

        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a class="manualSSIDEntry" href="{{ url_for('wifi') }}">WiFi Setup</a></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('power') }}"><img src="/static/power.png"></img></a></p>
    </form>
  </div>
{% endblock %}
