[Unit]
Description=GDis WEB interface
After=network-online.target

[Service]
Type=simple
ExecStart=/root/spdifservice
Restart=on-failure

[Install]
WantedBy=multi-user.target
